:root {
  --font-color-gray: #5c5c5c;
  --font-color-black: #000000;
  --font-color-lightGray: #9d9d9d;
  --font-color-light: #bdbdbd;

  --buttonIsActive-color: #3cc755;
  --button-color-lightGreen: #a5d364;
}
